<div class="welcome-body-fat-calculator">
  <h1 class="welcome">Welcome To</h1>
  <h3 class="body-fat-calculator">Body-Fat-Calculator</h3>
</div>

<div class="container content">
  <input
    style="display: none"
    type="file"
    (change)="uploadFile($event)"
    #fileInput
  />

  <button
    type="button"
    class="btn btn-outline-danger"
    (click)="fileInput.click()"
  >
    Upload Data
  </button>
  <button
    [disabled]="form.status === 'INVALID'"
    type="button"
    class="btn btn-outline-info buttonToRight"
    (click)="calculateValues()"
  >
    Calculate values
  </button>

  <div>
    <form [formGroup]="form" class="form">
      <mat-form-field appearance="outline">
        <mat-label>Chest (mm):</mat-label>
        <input matInput type="number" formControlName="chest" />
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint *ngIf="form.controls.chest.status === 'INVALID' && form.controls.chest.touched"
          >Positive number required</mat-hint
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Abdominal (mm):</mat-label>
        <input matInput type="number" formControlName="abdominal" />
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint *ngIf="form.controls.abdominal.status === 'INVALID' && form.controls.abdominal.touched"
          >Positive number required</mat-hint
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Thigh (mm):</mat-label>
        <input matInput type="number" formControlName="thigh" />
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint *ngIf="form.controls.thigh.status === 'INVALID' && form.controls.thigh.touched"
          >Positive number required</mat-hint
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Weight (mm):</mat-label>
        <input matInput type="number" formControlName="weight" />
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint *ngIf="form.controls.weight.status === 'INVALID' && form.controls.weight.touched"
          >Positive number required</mat-hint
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Age (mm):</mat-label>
        <input matInput type="number" formControlName="age" />
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint *ngIf="form.controls.age.status === 'INVALID' && form.controls.age.touched"
          >Positive number required</mat-hint
        >
      </mat-form-field>

      <div class="downButtons">
        <div class="buttonToRight">
          <button
            [disabled]="!calculatedValues"
            (click)="addValues()"
            type="button"
            class="btn btn-outline-success"
          >
            Add to Statistics
          </button>
          <br />
          <mat-hint *ngIf="!calculatedValues">First calculate values</mat-hint>
        </div>
        <button
          [disabled]="!userData.length"
          (click)="downloadFile(userData)"
          type="button"
          class="btn btn-outline-secondary"
        >
          Download Data
        </button>
        <br />
        <mat-hint *ngIf="!userData.length">Add data to download</mat-hint>
      </div>
    </form>

    <div *ngIf="calculatedValues" class="divCalculatedValues">
      <h5 class="h5">
        Body fat percentage:
        <span class="badge badge-danger"
          >{{ calculatedValues.bodyFatPercentage.toFixed(2) }} %</span
        >
      </h5>
      <h5 class="text-muted">
        Lean body mass:
        <span class="badge badge-secondary"
          >{{ calculatedValues.leanBodyMass.toFixed(2) }} kg</span
        >
      </h5>
      <h5 class="text-muted">
        Body fat:
        <span class="badge badge-secondary"
          >{{ calculatedValues.bodyFat.toFixed(2) }} kg</span
        >
      </h5>
    </div>

    <lib-highcharts-angular
      *ngIf="userData.length"
      class="chart"
      [Highcharts]="Highcharts"
      [constructorType]="chartConstructor"
      [options]="chartOptions"
      [(update)]="updateFlag"
      [oneToOne]="oneToOneFlag"
    ></lib-highcharts-angular>
  </div>
</div>
