<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Body Fat Calculator!
  </h1>
</div>

<div>
  <input
    style="display: none"
    type="file"
    (change)="uploadFile($event)"
    #fileInput
  />
  <button mat-stroked-button (click)="fileInput.click()">Upload Data</button>
  <button mat-stroked-button color="primary" (click)="downloadFile(userData)">
    Download Data
  </button>
</div>

<div>
  <form [formGroup]="form">
    <label>
      Chest:
      <input type="number" formControlName="chest" />
    </label>
    <label>
      Abdominal:
      <input type="number" formControlName="abdominal" />
    </label>

    <label>
      Thigh:
      <input type="number" formControlName="thigh" />
    </label>

    <label>
      Weight:
      <input type="number" formControlName="weight" />
    </label>

    <label>
      Age:
      <input type="number" formControlName="age" />
    </label>

    <button mat-stroked-button color="warn" (click)="calculateValues()">
      Calculate values
    </button>
    <button mat-stroked-button color="warn" (click)="addValues()">
      Add to Statistics
    </button>
  </form>

  <div *ngIf="calculatedValues">
    <h6>
      Calculated body fat percentage: {{ calculatedValues.bodyFatPercentage }}
    </h6>
    <h6>Calculated lean body mass: {{ calculatedValues.leanBodyMass }}</h6>
    <h6>Calculated body fat: {{ calculatedValues.bodyFat }}</h6>
  </div>

  <lib-highcharts-angular 
  *ngIf="userData.length"
  [Highcharts]="Highcharts"
 
  [constructorType]="chartConstructor"
  [options]="chartOptions"
 
  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"
 
  style="width: 100%; height: 400px; display: block;"
></lib-highcharts-angular>
</div>
